schema/sensinact-resource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
xmlns:sensinact="http://fr.cea.sensinact/resource"
targetNamespace="http://fr.cea.sensinact/resource"
elementFormDefault="qualified" attributeFormDefault="unqualified">

     <simpleType name="reference_parameter_enum">
		<restriction base="string">
			<enumeration value="EMPTY"/>
			<enumeration value="PARAMETERS"/>
			<enumeration value="INTERMEDIATE"/>
			<enumeration value="RESPONSE"/>
		</restriction>
	</simpleType>

	<simpleType name="update_enum">
		<restriction base="string">
			<enumeration value="INIT"/>
			<enumeration value="AUTO"/>
			<enumeration value="NONE"/>
		</restriction>
	</simpleType>

	<simpleType name="method_enum">
		<restriction base="string">
			<enumeration value="GET"/>
			<enumeration value="SET"/>
			<enumeration value="SUBSCRIBE"/>
			<enumeration value="UNSUBSCRIBE"/>
		</restriction>
	</simpleType>

	<simpleType name="extended_method_enum">
		<restriction base="string">
			<enumeration value="GET"/>
			<enumeration value="SET"/>
			<enumeration value="ACT"/>
			<enumeration value="SUBSCRIBE"/>
			<enumeration value="UNSUBSCRIBE"/>
		</restriction>
	</simpleType>

	<simpleType name="type_enum">
		<restriction base="string">
			<enumeration value="GET"/>
			<enumeration value="SET"/>
			<enumeration value="ACT"/>
			<enumeration value="SUBSCRIBE"/>
			<enumeration value="UNSUBSCRIBE"/>
			<enumeration value="HELLO"/>
			<enumeration value="GOODBYE"/>
			<enumeration value="SERVICES_ENUMERATION"/>
		</restriction>
	</simpleType>

	<simpleType name="policy_enum">
		<restriction base="string">
			<enumeration value="STATE_VARIABLE"/>
			<enumeration value="SENSOR"/>
			<enumeration value="PROPERTY"/>
			<enumeration value="ACTION"/>
		</restriction>
	</simpleType>

	<simpleType name="scope_enum">
		<restriction base="string">
			<enumeration value="DEVICE"/>
			<enumeration value="SERVICE"/>
		</restriction>
	</simpleType>

	<simpleType name="subscribe_enum">
		<restriction base="string">
			<enumeration value="ON_CHANGE"/>
			<enumeration value="SCHEDULED"/>
			<enumeration value="CONDITIONAL"/>
			<enumeration value="BUFFERIZED"/>
			<enumeration value="TIMED_OUT"/>
		</restriction>
	</simpleType>

	<complexType name="policies">
		<sequence>
			<element name="policy" type="sensinact:policy" minOccurs="0" maxOccurs="4"/>
		</sequence>
	</complexType>

	<complexType name="policy">
		<sequence>
			<element name="classname" minOccurs="0" maxOccurs="1" type="QName"/>
			<element name="interfacename" minOccurs="0" maxOccurs="1" type="QName"/>
		</sequence>
		<attribute name="name" type="sensinact:policy_enum" use="required"/>
		<attribute name="update" type="sensinact:update_enum" use="optional" default="NONE"/>
	</complexType>

	<complexType name="simpleContent" abstract="true">
		<simpleContent>
			<extension base="anySimpleType"/>
		</simpleContent>
	</complexType>

	<complexType name="binaryHexContent" abstract="false">
		<simpleContent>
			<restriction base="sensinact:simpleContent">
				<simpleType>
					<restriction base="hexBinary">
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</restriction>
		</simpleContent>
	</complexType>

	<complexType name="stringContent" abstract="false">
		<simpleContent>
			<restriction base="sensinact:simpleContent">
				<simpleType>
					<restriction base="string">
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</restriction>
		</simpleContent>
	</complexType>

	<complexType name="valueType">
		<simpleContent>
			<extension base="sensinact:simpleContent">
				<attribute name="target" type="string" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="restrictedValueType">
		<simpleContent>
			<extension base="sensinact:simpleContent"/>
		</simpleContent>
	</complexType>

	<complexType name="typeType">
		<simpleContent>
			<extension base="QName">
				<attribute name="target" type="string" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="restrictedTypeType">
		<simpleContent>
			<extension base="QName"/>
		</simpleContent>
	</complexType>

	<complexType name="nameTypeValue" abstract="true"/>

	<complexType name="constraint">
		<attribute name="value" type="anySimpleType" use="required"/>
	</complexType>

	<complexType name="constraintOnNumeric">
		<complexContent>
			<restriction base="sensinact:constraint">
				<attribute name="value" type="nonNegativeInteger" use="required"/>
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="constraintOnString">
		<complexContent>
			<restriction base="sensinact:constraint">
				<attribute name="value" type="string" use="required"/>
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="abstractConstraintOnReference" abstract="true">
		<complexContent>
			<restriction base="sensinact:constraint">
				<attribute name="value" type="integer" use="required"/>
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="constraintOnReference">
		<complexContent>
			<extension base="sensinact:abstractConstraintOnReference">
				<attribute name="reference" type="integer" use="required"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="constraints">
		<sequence>
			<choice minOccurs="1" maxOccurs="unbounded">
				<element id="minExclusive" name="minExclusive" type="sensinact:constraint"/>
				<element id="minInclusive" name="minInclusive" type="sensinact:constraint"/>
				<element id="maxExclusive" name="maxExclusive" type="sensinact:constraint"/>
				<element id="maxInclusive" name="maxInclusive" type="sensinact:constraint"/>
				<element id="length" name="length" type="sensinact:constraintOnNumeric"/>
				<element id="minLength" name="minLength" type="sensinact:constraintOnNumeric"/>
				<element id="maxLength" name="maxLength" type="sensinact:constraintOnNumeric"/>
				<element id="enumeration" name="enumeration" type="sensinact:constraint"/>
				<element id="fixed" name="fixed" type="sensinact:constraint"/>
				<element id="pattern" name="pattern" type="sensinact:constraintOnString"/>
				<element id="delta" name="delta" type="sensinact:constraintOnReference"/>
				<element id="absolute" name="absolute" type="sensinact:constraintOnReference"/>
			</choice>
		</sequence>
	</complexType>

	<complexType name="parameter" >
		<complexContent>
			<extension base="sensinact:nameTypeValue">
				<sequence>
					<element name="type" type="sensinact:restrictedTypeType" minOccurs="1" maxOccurs="1"/>
					<choice minOccurs="0" maxOccurs="1">
						<element name="contraints" type="sensinact:constraints" minOccurs="0" maxOccurs="1"/>
						<element name="builder" type="sensinact:builder" minOccurs="0" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute name="name" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="parameters" abstract="true">
		<sequence>
			<element name="parameter" type="sensinact:parameter" minOccurs="0" maxOccurs="unbounded"/>
			<element name="references" type="sensinact:references" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="dataResourceParameters">
		<complexContent>
			<extension base="sensinact:parameters">
				<attribute name="method" type="sensinact:method_enum" use="required"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="actionResourceParameters">
		<complexContent>
			<extension base="sensinact:parameters">
				<attribute name="method" type="sensinact:extended_method_enum" use="required"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="conditionalConstant" >
		<sequence>
			<element name="type" type="sensinact:restrictedTypeType" minOccurs="1" maxOccurs="1"/>
			<element name="value" type="sensinact:restrictedValueType" minOccurs="1" maxOccurs="1"/>
			<element name="contraints" type="sensinact:constraints" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="conditionalConstantFixed" >
		<complexContent>
			<restriction base="sensinact:conditionalConstant">
				<sequence>
					<element name="type" type="sensinact:restrictedTypeType" minOccurs="1" maxOccurs="1"/>
					<element name="value" type="sensinact:restrictedValueType" minOccurs="1" maxOccurs="1"/>
					<element name="contraints" type="sensinact:constraints"  minOccurs="0" maxOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>

	<complexType name="reference" abstract="true">
		<complexContent>
			<extension base="sensinact:nameTypeValue">
				<attribute name="reference" type="string" use="required"/>
				<attribute name="passOn" type="boolean" default="false"/>
				<attribute name="policy" type="sensinact:policy_enum" use="optional" fixed="STATE_VARIABLE"/>
		   </extension>
		</complexContent>
	</complexType>

	<complexType name="copyReference" >
		<complexContent>
			<extension base="sensinact:reference">
				<attribute name="index" type="nonNegativeInteger" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="conditionalReference" >
		<complexContent>
			<extension base="sensinact:reference">
				<sequence>
					<element name="constant" type="sensinact:conditionalConstant" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="index" type="nonNegativeInteger" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="constantReference" >
		<complexContent>
			<extension base="sensinact:reference">
				<sequence>
					<element name="constant" type="sensinact:conditionalConstantFixed" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="calculatedReference" >
		<complexContent>
			<extension base="sensinact:reference">
				<sequence>
					<choice>
						<element name="constant" type="sensinact:conditionalConstant" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
				<attribute name="calculated" type="string" use="required"/>
				<attribute name="index" type="nonNegativeInteger" use="optional" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="references" >
		<sequence>
			<element name="reference" type="sensinact:reference" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="builder" abstract="true">
		<complexContent>
			<extension base="sensinact:nameTypeValue">
				<attribute name="reference" type="string" use="required"/>
				<attribute name="policy" type="sensinact:policy_enum" use="required"/>
		   </extension>
		</complexContent>
	</complexType>

	<complexType name="copyBuilder">
		<complexContent>
			<extension base="sensinact:builder"/>
		</complexContent>
	</complexType>

	<complexType name="conditionalBuilder" >
		<complexContent>
			<extension base="sensinact:builder">
				<sequence>
					<element name="constant" type="sensinact:conditionalConstant" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="calculatedBuilder" >
		<complexContent>
			<extension base="sensinact:builder">
				<sequence>
					<choice>
						<element name="constant" type="sensinact:conditionalConstant" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
				<attribute name="calculated" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="nameTypeValueKeyWordsExcludedString">
		<restriction base="string">
			<pattern value="([^ntv]|n[^a]|t[^y]|v[^a]|na[^m]|ty[^p]|va[^l]|nam[^e]|typ[^e]|val[^u]|name[a-z0-9]|type[a-z0-9]|valu[^e]|value[a-z0-9])[a-z0-9_\-]*"/>
		</restriction>
	</simpleType>

	<simpleType name="modifiableHiddenKeyWordsExcludedString">
		<restriction base="string">
			<pattern value="([^m]|[^h]|m[^o]|h[^i]|mo[^d]|hi[^d]|mod[^i]|hid[^d]|modi[^f]|hidd[^e]|modif[^i]|hidde[^n]|modifi[^a]|hidden[a-z0-9]|modifia[^b]|modifiab[^l]|modifiabl[^e]|modifiable[a-z0-9])[a-z0-9_\-]*"/>
		</restriction>
	</simpleType>

	<simpleType name="targets">
		<restriction base="string">
			<pattern value="[^,\s]+(,[^,\s]+)*"/>
		</restriction>
	</simpleType>

	<complexType name="metadata">
		<complexContent>
			<extension base="sensinact:nameTypeValue">
				<sequence>
					<element name="type" type="sensinact:restrictedTypeType" minOccurs="1" maxOccurs="1"/>
					<element name="value" type="sensinact:valueType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="name" use="required" type="sensinact:modifiableHiddenKeyWordsExcludedString"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="attribute">
		<complexContent>
			<extension base="sensinact:nameTypeValue">
				<sequence>
					<element name="type" type="sensinact:typeType" minOccurs="1" maxOccurs="unbounded"/>
					<element name="value" type="sensinact:valueType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="metadata"  minOccurs="0" maxOccurs="unbounded" type="sensinact:metadata">
						<unique name="uniqueMetadataValueTarget">
							<selector xpath="./sensinact:value"/>
							<field xpath="@target"/>
						</unique>
					</element>
					<element name="constraints" type="sensinact:constraints" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute name="name" use="required" type="sensinact:nameTypeValueKeyWordsExcludedString"/>
				<attribute name="modifiable" type="boolean" default="true" use="optional"/>
				<attribute name="hidden" type="boolean" default="false" use="optional"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="command">
		<sequence maxOccurs="1" minOccurs="1">
			<element name="identifier" type="sensinact:simpleContent" minOccurs="1" maxOccurs="1"/>
		</sequence>
		<attribute name="type" type="sensinact:type_enum" use="required"/>
	</complexType>

	<complexType name="commands">
		<sequence maxOccurs="1" minOccurs="1">
			<element name="command" type="sensinact:command" minOccurs="0" maxOccurs="8"/>
		</sequence>
	</complexType>

	<complexType name="subscriptionModes">
		<sequence maxOccurs="1" minOccurs="1">
			<element name="subscriptionMode" type="sensinact:subscribe_enum" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="resourceInfo" abstract="true">
		<sequence maxOccurs="1" minOccurs="1">
			<element name="policy" type="sensinact:policy" minOccurs="0" maxOccurs="1"/>
			<element name="subscriptionModes" type="sensinact:subscriptionModes" minOccurs="0" maxOccurs="1"/>
			<element name="identifier" type="sensinact:simpleContent" minOccurs="1" maxOccurs="1"/>
			<element name="attribute" type="sensinact:attribute" minOccurs="0" maxOccurs="unbounded">
				<unique name="uniqueAttributeTypeTarget">
					<selector xpath="./sensinact:type"/>
					<field xpath="@target"/>
				</unique>
				<unique name="uniqueAttributeValueTarget">
					<selector xpath="./sensinact:value"/>
					<field xpath="@target"/>
				</unique>
			</element>
		</sequence>
		<attribute name="name" type="string" use="required"/>
		<attribute name="scope" type="sensinact:scope_enum" use="required"/>
		<attribute name="target" type="sensinact:targets" use="optional"/>
		<attribute name="profile" type="sensinact:targets" use="optional"/>
	</complexType>

	<complexType name="resourceInfoData" abstract="true">
		<complexContent>
			<extension base="sensinact:resourceInfo">
				<sequence>
					<element name="type" type="sensinact:typeType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Type of the associated Resource's 'value' attribute </documentation>
						</annotation>
					</element>
					<element name="value" type="sensinact:valueType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Value of the associated Resource's 'value' attribute </documentation>
						</annotation>
					</element>
					<element name="metadata" type="sensinact:metadata" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Metadata of the associated Resource's 'value' attribute</documentation>
						</annotation>
						<unique name="uniqueResourceInfoMetadataValueTarget">
							<selector xpath="./sensinact:value"/>
							<field xpath="@target"/>
						</unique>
					</element>
					<element name="constraints" type="sensinact:constraints" minOccurs="0" maxOccurs="1"/>
					<element name="parameters" type="sensinact:dataResourceParameters" minOccurs="0" maxOccurs="unbounded">
						<key name="uniqueDataParameterName">
							<selector xpath="./sensinact:parameter"/>
							<field xpath="@name"/>
						</key>
					</element>
				</sequence>
				<attribute name="modifiable" type="boolean" use="optional" default="true" />
				<attribute name="hidden" type="boolean" use="optional" default="false" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="resourceInfoVariable" >
		<complexContent>
			<extension base="sensinact:resourceInfoData">
				<attribute name="policy" type="sensinact:policy_enum" use="optional" fixed="STATE_VARIABLE"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="resourceInfoProperty" >
		<complexContent>
			<extension base="sensinact:resourceInfoData">
				<attribute name="policy" type="sensinact:policy_enum" use="optional" fixed="PROPERTY"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="resourceInfoSensor" >
		<complexContent>
			<extension base="sensinact:resourceInfoData">
				<attribute name="policy" type="sensinact:policy_enum" use="optional" fixed="SENSOR"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="resourceInfoAction" >
		<complexContent>
			<extension base="sensinact:resourceInfo">
				<sequence>
					<element name="parameters" type="sensinact:actionResourceParameters" minOccurs="0" maxOccurs="unbounded">
						<key name="uniqueActionParameterName">
							<selector xpath="./sensinact:parameter"/>
							<field xpath="@name"/>
						</key>
					</element>
				</sequence>
				<attribute name="policy" type="sensinact:policy_enum" use="optional" fixed="ACTION"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="devices">
		<annotation>
			<documentation>Defines devices to reified before any discovering process</documentation>
		</annotation>
		<sequence>
			<element name="device" type="sensinact:device" minOccurs="0" maxOccurs="unbounded">
				<unique name="uniqueServiceName">
					<selector xpath="./sensinact:service"/>
					<field xpath="@name"></field>
				</unique>
			</element>
		</sequence>
	</complexType>

	<attributeGroup name="anyAttributeGroup">
		<anyAttribute/>
	</attributeGroup>

	<attributeGroup name="deviceAttributeGroup">
    	<attribute name="identifier" type="string"/>
    	<attribute name="profile" type="string"/>
		<attributeGroup ref="sensinact:anyAttributeGroup"/>
	</attributeGroup>

	<complexType name="device">
		<sequence>
			<element name="service" type="sensinact:service" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="sensinact:deviceAttributeGroup"/>
	</complexType>

	<complexType name="service">
		<attribute name="name" type="string"/>
	</complexType>

	<complexType name="resourceInfos">
		<sequence>
			<element name="policies" type="sensinact:policies" minOccurs="0" maxOccurs="1"/>
			<element name="commands" type="sensinact:commands" minOccurs="0" maxOccurs="1">
				<unique name="uniqueCommandType">
					<selector xpath="./sensinact:command"/>
					<field xpath="@type"/>
				</unique>
			</element>
			<element name="subscriptionModes" type="sensinact:subscriptionModes" minOccurs="0" maxOccurs="1"/>
			<element name="resourceInfo" type="sensinact:resourceInfo" minOccurs="0" maxOccurs="unbounded">
				<unique name="uniqueResourceInfoAttribute">
					<selector xpath="./sensinact:attribute"/>
					<field xpath="@name"/>
				</unique>
				<unique name="uniqueResourceInfoTypeTarget">
					<selector xpath="./sensinact:type"/>
					<field xpath="@target"/>
				</unique>
				<unique name="uniqueResourceInfoValueTarget">
					<selector xpath="./sensinact:value"/>
					<field xpath="@target"/>
				</unique>
			  	<key name="resourceInfoPolicy">
			    	<selector xpath="."/>
			    	<field xpath="@policy"/>
			  	</key>
			  	<keyref name="resourceInfoPolicyRef" refer="sensinact:resourceInfoPolicy">
			    	<selector xpath="./sensinact:policy"/>
			    	<field xpath="@name"/>
			  	</keyref>
			</element>
			<element name="devices" type="sensinact:devices" minOccurs="0" maxOccurs="1">
				<unique name="uniqueDeviceIdentifier">
					<selector xpath="./sensinact:device"/>
					<field xpath="@identifier"/>
				</unique>
			</element>
		</sequence>
	</complexType>

	<element name="resourceInfos" type="sensinact:resourceInfos">
		<key name="resourceInfoName">
	    	<selector xpath="./sensinact:resourceInfo"/>
	    	<field xpath="@name"/>
	  	</key>
		<key name="resourceInfoNameAndType">
	    	<selector xpath="./sensinact:resourceInfo"/>
	    	<field xpath="@name"/>
	    	<field xpath="@policy"/>
	  	</key>
	  	<keyref name="resourceInfoVariableRef" refer="sensinact:resourceInfoNameAndType">
	    	<selector xpath="./sensinact:resourceInfo/sensinact:parameters/sensinact:references/sensinact:reference"/>
	    	<field xpath="@reference"/>
	    	<field xpath="@policy"/>
	  	</keyref>
	  	<keyref name="resourceInfoBuilderRef" refer="sensinact:resourceInfoNameAndType">
	    	<selector xpath="./sensinact:resourceInfo/sensinact:parameters/sensinact:builders/sensinact:builder"/>
	    	<field xpath="@reference"/>
	    	<field xpath="@policy"/>
	  	</keyref>
	  	<unique name="policyRef">
		   	<selector xpath="./sensinact:policies/sensinact:policy"/>
		   	<field xpath="@name"/>
		</unique>
	</element>

</schema>
